POSTGRES_MSIDENTITY_DB=msidentity_db
POSTGRES_MSIDENTITY_USER=msidentity_user
POSTGRES_MSIDENTITY_PASSWORD=msidentity_pass

POSTGRES_MSFINANCE_DB=msfinance_db
POSTGRES_MSFINANCE_USER=msfinance_user
POSTGRES_MSFINANCE_PASSWORD=msfinance_pass

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=rabbitmq_pass
